{% extends 'base.html' %} <br />
{% block title %}BMI Calculator{% endblock %} <br />
{% block content %}

<div class="container border border-warning card bg-info">
  <form action="" method="post" class="row g-3">
    <center>
      <h1 class="my-4">EMI Calculator</h1>
    </center>
    <div class="col-10 offset-1">
      <label for="weight" class="form-label">Weight (Pounds)</label>
      <input
        type="text"
        class="form-control"
        name="weight"
        id="weight"
        placeholder="Enter ur weight in Pounds"
      />
    </div>
    <div class="col-10 offset-1">
      <label for="height" class="form-label">Height (Inches)</label>
      <input
        type="text"
        class="form-control"
        name="height"
        id="height"
        placeholder="Enter ur height in Inches"
      />
    </div>
    <div class="col-2 offset-5 mt-5">
      <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
  </form>

  {% if res %}
  <div>
    <h2 class="mx-5">&emsp;Your BMI result is {{ res }}</h2>
  </div>
  {% endif %}
  <br />
</div>
{% endblock %}
