{% extends 'base.html' %} <br />
{% block title %}Demo App{% endblock %} <br />
{% block content %}
<h1>Home Page</h1>
<p>Welcome to the Homepage.</p>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img
        src="https://cdn.pixabay.com/photo/2015/03/28/10/21/diet-695723_1280.jpg"
        class="card-img-top"
        alt="BMI Image"
      />
      <div class="card-body">
        <a href="{{ url_for('bmi_calc') }}" class="btn btn-primary"
          >BMI Calculator</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img
        src="https://cdn.pixabay.com/photo/2019/04/02/09/27/income-tax-4097292_1280.jpg"
        class="card-img-top"
        alt="EMI Image"
      />
      <div class="card-body">
        <a href="{{ url_for('emi_calc') }}" class="btn btn-primary"
          >EMI Calculator</a
        >
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img
        src="https://cdn.pixabay.com/photo/2019/05/14/16/07/young-4202743_1280.jpg"
        class="card-img-top"
        alt="Other Calc Image"
      />
      <div class="card-body">
        <a href="{{ url_for('hero') }}" class="btn btn-primary">DC Hero API</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
